@import "tailwindcss";

@theme {
  --font-sans: var(--font-montserrat), ui-sans-serif, system-ui;
  --font-heading: var(--font-trade-gothic), sans-serif;

  --color-background: #fafbfc;
  --color-surface: #ffffff;
  --color-primary: #8dd3bb;
  --color-primary-muted: #cdeae1;
  --color-foreground: #112211;
  --color-foreground-static: #112211;
  --color-foreground-muted: #000000;
  --color-input: #1c1b1f;
  --color-input-secondary: #79747E;
  --color-accent: #ff8682;
  --color-destructive: #fd736e;

  --breakpoint-xs: 425px;
  --breakpoint-2xl: 1440px;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--color-background) inset !important;
    -webkit-text-fill-color: var(--color-input) !important;
    caret-color: var(--color-primary);
  }


  .dark {
    --color-background: #090a0a;
    --color-surface: #111212;
    --color-primary: #8dd3bb;
    --color-primary-muted: #1a2e28;
    --color-foreground: #f1f1f1;
    --color-foreground-muted: #a1a1aa;
    --color-input: #e5e5e5;
    --color-input-secondary: #e5e4e6;
    --color-accent: #ff9f9c;
    --color-destructive: #ff453a;
  }

  body {
    background-color: var(--color-background);
    font-family: var(--font-sans);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-foreground);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  width: 100%;

  @variant xs {
    max-width: 425px;
  }

  @variant sm {
    max-width: 640px;
  }

  @variant md {
    max-width: 768px;
  }

  @variant lg {
    max-width: 1024px;
  }

  @variant xl {
    max-width: 1280px;
  }

  @variant 2xl {
    max-width: 1440px;
  }
}