@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-sans: var(--font-montserrat), ui-sans-serif, system-ui;
  --font-heading: var(--font-trade-gothic), sans-serif;
}

body {
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}